/*.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

/* CSS from Python Spot Tutorial
   https://pythonspot.com/en/login-authentication-with-flask/
*/

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/*body {
  font-family: Arial;
  background-color: #3498db;
  padding: 50px;
}*/

.login {
  margin: 20px auto;
  width: 300px;

}

.login-screen {
  background-color: #eee; /*background-color: #fff;*/
  padding: 20px;
  border-radius: 5px;
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  /* background-color: #ecf0f1; */
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498db;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980b9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

.form-signin {
padding-top: 2%;
  width: 30% ;
  margin: auto;
}

/* End CSS from Python Spot
*/

/* Start CSS for Posts */
.login-screen {
  margin-bottom: 50px;
}

.posts {
  /*border: 1px solid black;*/
  margin-top: 200px;
  margin-bottom: 50px;
}

.posts > .row {
  margin-bottom: 50px;
}

.postbox {
  border: 1px solid black;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.postbox img {
  width: 100%;
}

.post-title, .post-price {
  font-weight: bold;
  text-align: right;
}

.post-title {
  font-size: 24px;
}

.post-price {
  font-size: 20px;
}

.post-price::before {
  content: '$';
}
/* End CSS */
