<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Buy Rent Sell | {{ title }}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="">

  <!-- Additional Custom CSS -->
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <!-- Navbar CSS -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Buy Rent Sell</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Page 1</a>
        </li>
        <li>
          <a href="#">Page 2</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not session['logged_in'] %}
        <li>
          <a href="showSignUp">
            <span class="glyphicon glyphicon-user"></span> Sign Up
          </a>
        </li>
        <li>
          <a href="login">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </a>
        </li>
        {% else %}
        <li>
          <a href="">Welcome {{current_user.username}}! </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Content Block -->
  <div class="container">
    {% block content %}
    {% endblock %}

  </div>
  <!-- Footer Block -->
  <footer class="container-fluid">
    <p>&copy; Buy Rent Sell 2016</p>
  </footer>
</body>
</html>
