<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="../static/browsing.css" rel="stylesheet">

<title>Browsing Page</title>
</head>
<body>
  <div class="row" id="search-bar">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <form>
        <button class="browsing-button" type="button">Buy</button>
        <button class="browsing-button" type="button">Rent</button>
        <input id="search-box" type="text" placeholder="Search" name="Search">
        <button class="browsing-button" type="button"> <i class="glyphicon glyphicon-search"></i></button>
      </form>
    </div>
  </div>

<div id="postings">
  <div class="row" align="center">
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div> 
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row description">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div> 
      </div>      
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row description">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div>  
      </div>      
    </div>    
  </div>
  
  <div class="row" align="center">
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div> 
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row description">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div> 
      </div>      
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row description">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div>  
      </div>      
    </div>    
  </div>

  <div class="row" align="center">
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div> 
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row description">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div> 
      </div>      
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="post-box" align="center">
        <img src="http://placehold.it/250x250">
        <div class="row description">
          <h2 align="center">Description</h2>
          <h3 align="center">Price</h3>
        </div>  
      </div>      
    </div>    
  </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>