{% extends "base.html" %}
{% block content %}
  <div style="overflow: auto" class="jumbotron">
    {% if item.userid %}
    <h1>{{ item.title }}</h1>
    <h2>Posted by: <a href="/user/{{ item_userid.id }}">{{ item_userid.email }}</a></h2>
    <h2>${{ item.price }}</h2>
    <div style="float:right" >
      <img src="{{item.image}}" style="height:300px;">
      <form action="/item/{{ item.id }}/reportUser" method="GET" id="reportUser">
        <button style ="float:left" type="submit" id="reportUser" class=" btn-danger btn-sm btn-primary ">report user</button>
      </form>
    </div>
    <p>{{ item.descr }}</p>
    <form action="/item/{{ item.id }}" method="POST" id="buyItem">
      {% if item.userid == current_user.id %}
      <button style ="float:left" type="submit" id="buyItem" class="btn btn-lg btn-primary btn-block">Remove Item</button>
      {% else %}
      <button style ="float:left" type="submit" id="buyItem" class="btn btn-lg btn-primary btn-block">Buy Now</button>
      {% endif %}
    </form>
    {% if item.isSold and item.userid == current_user.id %}
      {% if not item.buyerrated %}

        <form action="/item/{{ item.id }}/rateBuyer">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Rate Buyer</button>
        </form>
      {% else %}
        <p>You've already rated the buyer!</p>
      {% endif %}
    {% endif %}
    {% else %}
    <h1>This post does not exist!</h1>
    {% endif %}
  </div>
{% endblock %}
