{% extends "base.html" %}
{% block content %}
      <div class="jumbotron">
        <h1>Login</h1>
        <form class="form-signin" action="success" method="post" id="btnSignUp">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
          <br>
          <button type="submit" id="btnSignUp" class="btn btn-lg btn-primary btn-block" >Sign in</button>
        </form>
      </div>
{% endblock %}
