{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Post a new item</h1>
  <form class="form-post-item" action="posted" method="post" id="btn_post_item">
    <!-- Input for item name -->
    <div class="form-inline">
      <label for="post_title" class="sr-only">Item:</label>
      <input type="text" name="post_title" class="form-control" id="post_title" placeholder="Name of item...">
    </div>

    <!-- Input to post as either selling or renting an item -->
    <div class="radio">
      <label class="radio-inline"><input type="radio" name="post_type">Sell</label>
      <label class="radio-inline"><input type="radio" name="post_type">Rent</label>
    </div>

    <!-- Input for item auction -->
    <div class="form-inline">
      <!-- Make item an auction checkbox -->
      <fieldset disabled>
      <div class="checkbox">
        <label class="checkbox-inline"><input type="checkbox" value="">auction</label>
      </div>
      </fieldset>
      <!-- Starting bid of auction -->
      <div class="form-group">
        <label for="post_price">Price:</label>
        <input type="number" name="post_price" class="form-control" id="post_price">
      </div>
    </div>

    <!-- Set duration of item listing -->
    <fieldset disabled>
    <div class="form-inline">
      <label for="duration">Duration(days):</label>
      <select class="form-control" id="duration">
        <option>1</option>
      </select>
    </div>
    </fieldset>

    <!-- Input description of the item -->
    <div class="form-group">
      <label for="post_descr">Desc:</label>
      <textarea class="form-control" name="post_descr" id="post_descr" cols="30" rows="10" placeholder="Description..."></textarea>
    </div>

    <!-- Submission buttons -->
    <div class="container">
      
      <button type="submit" id="btn_post_item" class="btn btn-info">Submit</button>
      <input type="button" class="btn btn-info" value="Cancel">
    </div>
  </form>
</div>
{% endblock %}
