{% extends "base.html" %}
{% block content %}
<!--
  <div class="col-xs-12 login-screen">
    <div class="app-title">
      <h2>Search</h2>
    </div>
    <div class="login-form">
      <div class="control-group">
        <input type="text" placeholder="search"/>
        <input type="submit" value="Go" class="btn">
      </div>
    </div>
  </div>
-->
<form action="/showPosts" method="POST">
  <div class="col-xs-12 login-screen">
    <div class="app-title">
      <h2>Filter</h2>
    </div>
    <div class="login-form">
      <div class="control-group">
        <div class = "radio">
          <input type="radio" name="filter" value="appliance" style="vertical-align: middle"> <b>Appliances</b> <br>
          <input type="radio" name="filter" value="clothing" style="vertical-align: middle"> <b>Clothings</b> <br>
          <input type="radio" name="filter" value="electronic" style="vertical-align: middle"> <b>Electronics</b> <br>
          <input type="radio" name="filter" value="furniture" style="vertical-align: middle"> <b>Furnitures</b> <br>
          <input type="radio" name="filter" value="sports" style="vertical-align: middle"> <b>Sports</b> <br>
        </div>
        <input type="submit" value="Go" class="btn">
      </div>
    </div>
  </div>
</form>

  <div class="posts">
    <!-- Batch Line from http://stackoverflow.com/questions/17797921/jinja2-create-new-row-for-every-3-items -->
    {% for entry_row in entries | batch(3) %}
    <div class="row">
      {% for entry in entry_row %}
      {% if entry %}
      <div class="col-sm-4">
        <div class="postbox">
          <img src="{{entry.image}}" alt=""  style="height: 300px"/>
          <p class="post-title">
            <a align="center" href="/item/{{ entry.id }}">{{ entry.title }}</a>
          </p>
          <p align="center" class="post-price">{{ entry.price | safe }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% else %}
      <em>No entries here so far</em>
    {% endfor %}
  </div>
{% endblock %}
