{% extends "base.html" %}
{% block content %}
{% if error %}
  {{error}}
{% endif %}
	<div class="jumbotron">
		<h1>Buy Rent Sell</h1>
		<form action="{{ url_for('signup') }}" class="form-signin" method="POST">
		{{ form.hidden_tag() }}

		<div class="{%if form.firstname.errors %} has-error {% endif %}">
			{{ form.firstname(placeholder="First Name", class="form-control") }}
			{{ form.firstname.errors[0] }}
		</div>

		<div class="{%if form.lastname.errors %} has-error {% endif %}">
			{{ form.lastname(placeholder="Last Name", class="form-control") }}
			{{ form.lastname.errors[0] }}
		</div>

		<div class="{%if form.email.errors%} has-error {% endif %}">
			{{ form.email(placeholder="Email", class="form-control") }}
			{{ form.email.errors[0] }}
		</div>

		<div class="{%if form.password.errors %} has-error {% endif %}">
			{{ form.password(placeholder="Password", class="form-control") }}
			{{ form.password.errors[0] }}
		</div>

		<div class="{%if form.phone.errors %} has-error {% endif %}">
			{{ form.phone(placeholder="Phone", class="form-control") }}
			{{ form.phone.errors[0] }}
		</div>

		{{ form.recaptcha }}


		{{ form.submit(class="btn btn-lg btn-primary btn-block") }}

		</form>
	</div>
{% endblock %}
