{% extends "base.html" %}
{% block content %}
  {% if error %}
    {{error}}
  {% endif %}
      <div class="jumbotron">
        <h1>Buy Rent Sell</h1>
          <form class="form-signin" action="success" method="post" id="btnSignUp">

          <label for="inputFirstName" class="sr-only">First Name</label>
          <input type="name" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
          <br>
          <label for="inputLastName" class="sr-only">Last Name</label>
          <input type="name" name="inputLastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
          <br>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
          <br>
          <label for="phoneNumber" class="sr-only">Phone Number</label>
          <input type="phone" name="phoneNumber" id="phoneNumber" class="form-control" placeholder="Phone" required autofocus>
          <br>
          <p align = "center" for="captcha" class="firstnum secondnum">{{firstnum}} + {{secondnum}} =</p>
          <input type="captcha" name="captcha" id="captcha" class="form-control" placeholder="Captcha Answer" required autofocus>
          <br>
          <button type="submit" id="btnSignUp" class="btn btn-lg btn-primary btn-block" >Sign up</button>
        </form>
      </div>
{% endblock %}
