{% extends "base.html" %}
{% block content %}

	<div class="jumbotron">
	{% if user.id %}
		<!-- Display the username, currently parameter is unknown -->
		<h1 align="center">{{ user.email }}</h1>
		<h2 align="center">Rating:</h2>

	</div>

	<form class="deposit_withdraw" method="POST" id="deposit_withdraw">
		{{ form.hidden_tag() }}
		<div class="jumbotron">

			<div align="center">
				<h2 align="center">Current Balance: ${{user.balance}}</h2>
			</div>
			
			<div align="center" class="form-group">
			  {{ form.deposit(placeholder="Deposit", class="form-control") }}
			</div>

			<div align="center" class="form-group">
			  {{ form.withdraw(placeholder="Withdraw", class="form-control") }}
			</div>


			<button type="submit" id="go" class="btn btn-lg btn-primary btn-block">Go</button>	
	</form>
		


	</div>

	<div class="posts">
    <!-- Batch Line from http://stackoverflow.com/questions/17797921/jinja2-create-new-row-for-every-3-items -->
    {% for entry_row in post | batch(3) %}
	    <div class="row">
	      {% for entry in entry_row %}
	      {% if not entry.isSold %}
	      <div class="col-sm-4">
	        <div class="postbox">
	          <img src="{{entry.image}}" alt=""  style="height: 300px"/>
	          <p class="post-title">
	            <a align="center" href="/item/{{ entry.id }}">{{ entry.title }}</a>
	          </p>
	          <p align="center" class="post-price">{{ entry.price | safe }}</p>
	        </div>
	      </div>
	      {% endif %}
	      {% endfor %}
	    </div>
    {% else %}
      <em>No entries here so far</em>
    {% endfor %}
  	</div>

	{% else %}
	<h1>User does not exist!</h1>
	{% endif %}


{% endblock %}